.grid-container {
    display: grid;
    grid-template-columns: 10% auto;
    column-gap: 4px;
    background-color: #999;
    padding: 8px;
}
.grid-item {
    display: grid;
    grid-template-columns: auto;
    row-gap: 4px;
    background-color: #aaa;
    padding: 8px;
}
.inner-grid-item {
    text-align: center;
    border: 1px solid #333;
    background-color: #bbb;
    padding: 8px;
}

